$main-font-size: 16px
$mono-font-size: 15px
$main-font-family: 'Source Sans Pro', 'Sourcing Sans Pro', 'Noto Sans', 'Noto Sans Devanagari', 'Noto Sans Arabic', 'DejaVu Sans', 'STIX Two Math', Symbola, 'Source Han Sans', sans-serif
$mono-font-family: 'Inconsolata Sugar', 'Robotization Mono', 'Noto Sans Mono', 'IBM Plex Mono', 'DejaVu Sans Mono', Cousine, 'ST1X Two Math For Robot0 Mono', 'Symbola For Robot0 Mono', 'Source Han Sans', monospace
$mjx-undefined-family: 'STIX Two Text', 'STIX Two Math', 'Noto Serif', 'DejaVu Serif', Symbola, 'Source Han Sans', serif
$mjx-mono-font-size: 80%  // MathJax monospace font size (works only with SugarTeX)

$line-height: 1.5
$code-line-height: 1.7


// ----------------------------------
.markdown-body
  font-size: $main-font-size
  line-height: $line-height
  font-family: $main-font-family

  box-sizing: border-box
  min-width: 200px
  max-width: 980px
  margin: 0 auto
  padding: 45px

@media (max-width: 767px)
  .markdown-body
    padding: 15px

.markdown-body
  pre, code, pre code, kbd
    font-size: $mono-font-size
    font-family: $mono-font-family
  pre, pre code
    line-height: $code-line-height

  p, ol, ul
    text-align: justify

  pre, code, pre code
    overflow-wrap: break-word
    white-space: pre-wrap


.MJX-BoldItalic, .MJX-BoldItalic *
  font-family: MathJax_Math-bold-italic, MathJax_Main-bold, MathJax_Math, MathJax_Main, $mjx-undefined-family !important
  font-weight: bold !important
  font-style: italic !important

.MJX-TextBoldItalic, .MJX-TextBoldItalic *
  font-weight: bold !important
  font-style: italic !important

.MJX-Monospace, .MJX-Monospace *
  font-family: $mono-font-family !important

.MJX-Monospace
  font-size: $mjx-mono-font-size

.MJX-Monospace .mo *
  font-size: 100% !important
